<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
                <div class="container-fluid">

                    <h1 class="h3 mb-2 text-gray-800">Listagem dos Estudantes</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <a href="/student/form" class = "btn btn-primary">Criar Novo</a>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Cpf</th>
                                            <th>Idade</th>
                                            <th>Disciplinas</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Cpf</th>
                                            <th>Idade</th>
                                            <th>Disciplinas</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each = "student: ${StudentsList}">
                                            <td th:text="${student.id}" ></td>
                                            <td th:text="${student.name}" ></td>
                                            <td th:text="${student.cpf}" ></td>
                                            <td th:text="${student.age}" ></td>
                                            <td >
                                                <a th:each="classroom: ${student.classrooms}" th:text = "${classroom.name} +','+' '" ></a>
                                            </td>
                                            <td><a th:href="@{/student/{id}(id=${student.id})}" class = "btn btn-warning"> Alterar</a> </td>
                                            <td><a href="#" th:onclick="deletar([[${student.id}]])" class = "btn btn-danger"> Excluir</a> </td>

                                        </tr>
                                        <script th:inline="javascript">
                                        /*<![CDATA[*/
                                            function deletar(id) {
                                                try {
                                                    var confirmacao = confirm("Deseja Deletar o Aluno?");
                                                    var students =/*[[${StudentsList}]]*/ '';
                                                    var actualStudent = students.find(function(student) {
                                                      return student.id === id;
                                                    });
                                                    if (confirmacao) {
                                                    var studentClassrooms = actualStudent.classrooms;
                                                    console.log(studentClassrooms)
                                                    if(studentClassrooms === null || studentClassrooms === undefined || studentClassrooms.length === 0){
                                                    console.log('aqui')
                                                        var url = '/student/' + id + '/delete';
                                                        window.location.href = url;
                                                    }else{
                                                        throw new Error("Não é possivel deletar o estudante que está matriculado em uma disciplina");
                                                    }
                                                    }
                                                } catch (error) {
                                                    alert(error);
                                                }
                                            }
                                        /*]]>*/
                                        </script>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>