<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
                <div class="container-fluid">


                    <h1 class="h3 mb-2 text-gray-800">Editar a Disciplina </h1>
                    <div class="card shadow mb-4" style = "padding: 30px;">

                        <form method="POST" th:action ="@{'/classroom/' + ${classroom.id} + '/update'}" >
                            <div class="form-group">
                                <label for="ClassroomName">Nome</label>
                                <input type="text" class="form-control" th:value= "${classroom.name}" name ="name" required id="ClassroomName" placeholder="Digite o nome do Estudante" >
                            </div>
                            <label for="ClassroomTeacher">Professor</label>
                            <div class="col-lg-3" >
                                <select class="form-control" id="ClassroomTeacher"  name="testOrder">
                                    <option value="">Escolha o professor da turma</option>
                                    <option th:each="teacher : ${TeachersList}"
                                            th:value="${teacher.id}"
                                            th:text="${teacher.name}"></option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>

            </div>
<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>