<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
                <div class="container-fluid">


                    <h1 class="h3 mb-2 text-gray-800">Editar a Disciplina </h1>
                    <div class="card shadow mb-4" style = "padding: 30px;">

                        <form method="POST" th:action ="@{'/classroom/' + ${classroom.id} + '/update'}" >
                            <div class="form-group">
                                <label for="ClassroomName">Nome</label>
                                <input type="text" class="form-control" th:value= "${classroom.name}" name ="name" required id="ClassroomName" placeholder="Digite o nome do Estudante" >
                            </div>
                            <label for="ClassroomTeacher">Professor</label>
                            <div class="col-lg-3" >
                                <select required class="form-control" id="ClassroomTeacher"  name="teacher">
                                    <option disabled value="">Escolha o professor da turma</option>
                                    <option th:each="teacher: ${TeachersList}" th:unless="${teacher == classroom.teacher}"
                                            th:value="${teacher.id}"
                                                th:text="${teacher.name}"></option>
                                </select>
                            </div>


                            <ul id="ClassroomStudents" style="padding: 10px; height: 200px; width: 50%; overflow: hidden; overflow-y: scroll"></ul>

                            <input type="hidden" name="students" id="selectedStudents" />

                            <button type="submit" class="btn btn-primary">Enviar</button>

                            <script type="text/javascript" th:inline="javascript">
                             /*<![CDATA[*/
                             var message =/*[[${StudentsList}]]*/ '';

                            if(message.length > 0){
                            const students = []
                            const classroomStudentsId = []

                            var studentsModelList = [[${StudentsList}]]
                            var classroomStudents = [[${classroom.students}]]

                            for (i = 0; i < studentsModelList.length; i++) {
                                students.push(studentsModelList[i])
                            }
                            for (i = 0; i < classroomStudents.length; i++) {
                                classroomStudentsId.push(classroomStudents[i].id)
                            }
                            console.log(classroomStudentsId)
                            var checkboxList = document.getElementById("ClassroomStudents");
                            var hiddenList = document.getElementById("selectedStudentsHidden");
                            var SelectedStudentsArray = []

                            for (var i = 0; i < students.length; i++) {
                                const checkboxId = students[i].id

                                var listItem = document.createElement("li");

                                var Div = document.createElement('div');
                                Div.id = checkboxId;
                                Div.className = 'form-check';

                                var checkbox = document.createElement("input");
                                checkbox.type = "checkbox";
                                checkbox.name = "checkbox";
                                checkbox.value = checkboxId;
                                checkbox.id = checkboxId;
                                if(classroomStudentsId.includes(checkboxId)){
                                    checkbox.checked = true;
                                    SelectedStudentsArray.push(checkboxId);
                                    deleteFromList(classroomStudentsId,checkboxId)
                                    console.log(classroomStudentsId)
                                }


                                checkbox.addEventListener('click', function() {
                                console.log(classroomStudentsId)
                                  if (this.checked) {
                                    SelectedStudentsArray.push(checkboxId);

                                  } else {
                                      deleteFromList(SelectedStudentsArray,checkboxId)
                                  }

                                });

                                Div.appendChild(checkbox);
                                var label = document.createElement("label");
                                label.innerText = students[i].name;
                                label.for = students[i].id;
                                Div.appendChild(label);

                                checkboxList.appendChild(Div);


                            }
                                  const selectedStudentsInput = document.getElementById('selectedStudents');
                                  const checkedCheckboxes = checkboxList.querySelectorAll('input[type="checkbox"]:checked');
                                  const selectedStudents = Array.from(checkedCheckboxes).map(function(checkbox) {
                                    return checkbox.value;
                                  });
                                  selectedStudentsInput.value = SelectedStudentsArray;
                                  console.log(SelectedStudentsArray)

                                }

                        /*]]>*/

                        function deleteFromList(array, id){
                            const index = array.indexOf(id);
                                    if (index !== -1) {
                                      array.splice(index, 1);
                                    }
                        }
                    </script>
                        </form>

            </div>
<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>