<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<style>
    .checkboxes {
      text-align:center;
    }

    .checkboxes input {
      margin: 0;
    }

    .checkboxes label {
      margin: 0 20px 0 3px;
    }
  </style>
                <div class="container-fluid">


                    <h1 class="h3 mb-2 text-gray-800">Nova Disciplina</h1>
                    <div class="card shadow mb-4" style = "padding: 30px;">

                        <form method="POST" action ="/classroom/register" >
                            <div class="form-group">
                                <label for="ClassroomName">Nome</label>
                                <input type="text" class="form-control" name ="name" required id="ClassroomName" placeholder="Digite o nome da Disciplina">
                            </div>
                            <label for="ClassroomTeacher">Professor</label>
                            <div class="col-lg-3" >
                                <select required class="form-control"  id="ClassroomTeacher"  name="teacher">
                                    <option disabled value="">Escolha o professor da turma</option>
                                    <option th:each="teacher : ${TeachersList}"
                                            th:value="${teacher.id}"
                                            th:text="${teacher.name}"></option>
                                </select>
                            </div>

                            <ul id="ClassroomStudents" style="padding: 10px; height: 200px; width: 50%; overflow: hidden; overflow-y: scroll"></ul>

                            <input type="hidden" name="students" id="selectedStudents" />

                            <button type="submit" class="btn btn-primary">Enviar</button>

                            <script type="text/javascript" th:inline="javascript">
                             /*<![CDATA[*/
                             var message =/*[[${StudentsList}]]*/ 'defaultanyvalue';
                             console.log(message);
                            if(message.length > 0){

                            const students = []
                            var theList = [[${StudentsList}]]
                            for (i = 0; i < theList.length; i++) {
                                students.push(theList[i])
                            }
                            //receber as 2 listas e comparar no javascript, caso o objeto da lista
                            //AlunosOriginal esteja na AlunosSalaDeAula ele recebe checked
                            var checkboxList = document.getElementById("ClassroomStudents");
                            var hiddenList = document.getElementById("selectedStudentsHidden");
                            var SelectedStudentsArray = []

                            for (var i = 0; i < students.length; i++) {
                                const checkboxId = students[i].id

                                var listItem = document.createElement("li");

                                var Div = document.createElement('div');
                                Div.id = students[i].id;
                                Div.className = 'form-check';

                                var checkbox = document.createElement("input");
                                checkbox.type = "checkbox";
                                checkbox.name = "checkbox";
                                checkbox.value = students[i].id;
                                checkbox.id = students[i].id;
                                checkbox.addEventListener('click', function() {
                                  if (this.checked) {
                                    SelectedStudentsArray.push(checkboxId);
                                    console.log(SelectedStudentsArray)
                                  } else {
                                    const index = SelectedStudentsArray.indexOf(checkboxId);
                                    if (index !== -1) {
                                      SelectedStudentsArray.splice(index, 1);
                                      console.log(SelectedStudentsArray)
                                    }
                                  }
                                  const selectedStudentsInput = document.getElementById('selectedStudents');
                                  const checkedCheckboxes = checkboxList.querySelectorAll('input[type="checkbox"]:checked');
                                  const selectedStudents = Array.from(checkedCheckboxes).map(function(checkbox) {
                                    return checkbox.value;
                                  });
                                  console.log(SelectedStudentsArray);
                                  selectedStudentsInput.value = SelectedStudentsArray;

                                });

                                Div.appendChild(checkbox);
                                var label = document.createElement("label");
                                label.innerText = students[i].name;
                                label.for = students[i].id;
                                Div.appendChild(label);

                                checkboxList.appendChild(Div);


                            }

                                }

                        /*]]>*/
                    </script>


                        </form>

            </div>

<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>